.imageupload__container {
    display: flex;
    flex-direction: column;
    background-color: #242526;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 500px;
}

.imageupload.none {
    display: none;
}

.liveVideoIcon {
    background-image: url(https://facebook.com/rsrc.php/v3/ye/r/yUmeYUiEaF0.png);
    background-size: 33px 643px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: 0 -83px;
}

.postArea{
    display: flex;
    flex-direction: row;
}

.postArea input {
    background-color: #3A3B3C;
    width: 85%;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 17px;
    color: #fff;
    border-radius: 30px;
}

.postArea input::-webkit-input-placeholder {
    font-size: 17px;
    color: #AAADB2;
}

.Avatar {
    border-radius: 200px;
    height: 40px;
    width: 40px;
    margin: 10px;
}
.photoIcon {
    background-image: url(https://facebook.com/rsrc.php/v3/ye/r/yUmeYUiEaF0.png);
    background-size: 33px 643px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: 0 -208px;
}

.feelingIcon {
    background-image: url(https://facebook.com/rsrc.php/v3/ye/r/yUmeYUiEaF0.png);
    background-size: 33px 643px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: 0 -133px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.imageupload__container > .hr {
    margin-left: 16px;
    margin-bottom: 10px;
    margin-right: 16px;
    margin-top: 8px;
    border-bottom: 2px solid #3E4042;
}
.hr2  {
    margin-bottom: 10px;
    margin-top: 8px;
    border-bottom: 1px solid #3E4042;
}

.liveVideo, .photo, .feeling {
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-out;
}

.liveVideo > h2, .photo > h2, .feeling > h2 {
    font-size: 15px;
    color:#b0b3b8;
    padding: 10px;
    font-weight: 600;
    margin-left: 5px;
}

.liveVideo > i, .photo > i, .feeling > i {
    margin-top: 10px;
    margin-left: 5px;
}

.liveVideo:hover, .photo:hover, .feeling:hover {
    background-color: #3A3B3C;
    border-radius: 10px;
    cursor:pointer;
}

.makeStyles-paper-1 >.modalInit> h1{
    font-size: 20px;
    font-weight: 700;
    color: #e4e6eb;
    text-align: center;
    margin-top: 15px;
    margin-left: 200px;
    margin-bottom: 15px;
}

.closeModalIcon {
    vertical-align: -0.25em;
    -webkit-filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
    height: 20px;
    width: 20px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 160px;
    background-color: rgba(225,225,225,0.1);
    padding: 10px;
    border-radius: 200px;
    transition: 0.1s;
}

.closeModalIcon:hover {
    background-color: rgba(238, 238, 238, 0.6);
}

.modalInit {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.profileHead {
    display: flex;
    flex-direction: row !important;
}

.profileHead h1 {
    font-size: 15px;
    color: #e4e6eb;
    font-weight: 600;
    margin: 0;
    margin-top: 18px;
}

.inputForUpload > textarea {
    margin-left: 10px;
    background-color: transparent;
    outline: none;
    width: 100%;
    border: none;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e4e6eb;
}

.inputForUpload > textarea::-webkit-input-placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #90949C;
}

.inputForUpload > textarea::-webkit-scrollbar {
    width: 10px;
}

.colorAlpha {
    height: 38px !important;
    width: 38px !important;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.publishOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgba(128,128,128,0.5);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

.publishOptions .left h1 {
    font-sizE: 15px;
    font-weight:600;
    color: #e4e6eb;
    padding: 18px;
}

.roomIcon {
    vertical-align: -0.25em;
    object-fit: cover;
    background-image: url(https://facebook.com/rsrc.php/v3/yk/r/Jk43U6fk1vT.png);
    background-size: 25px 675px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 0 -25px;
    height: 24px;
    width: 24px;
}

.friendsIcon {
    vertical-align: -0.25em;
    object-fit: cover;
    background-image: url(https://facebook.com/rsrc.php/v3/ye/r/yUmeYUiEaF0.png);
    background-size: 33px 643px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 0 -158px;
    height: 24px;
    width: 24px;
}

.tagIcon {
    vertical-align: -0.25em;
    object-fit: cover;
    background-image: url(https://facebook.com/rsrc.php/v3/yk/r/Jk43U6fk1vT.png);
    background-size: 25px 675px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 0 -550px;
    height: 24px;
    margin-top: 15px;
    width: 24px;
}

.moreIcon {
    vertical-align: -0.25em;
    object-fit: cover;
    background-image: url(https://facebook.com/rsrc.php/v3/yH/r/hD_JBkCe96v.png);
    background-size: 33px 1483px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 0 -258px;
    height: 24px;
    width: 24px;
}

.Icon {
    margin-left: 15px;
    margin-top: 10px;
}

.right {
    margin-right: 10px;
}

.Icon:hover {
    cursor: pointer;
}

.postButton {
    
    background-color: #2D88FF;
    color: #fff;
    outline: none;
    border: none;
    height: 30px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor:pointer;
    font-weight: 600;
    transition: 0.2s;
    margin-bottom: 10px;
}

.postButton.visible {
    display: block;
    background-color: #2D88FF !important;
    color: #fff !important;
    outline: none;
    border: none;
    height: 30px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor:pointer !important;
    font-weight: 600;
    transition: 0.2s;
    margin-bottom: 10px;
}

.postButton.disabled {
    background-color: #4F5051;
    color: #848485;
    cursor: context-menu;
    font-weight: 600;
}

.four {
    display: none;
}

.previewImage.vanish {
    display: none;
}

.previewImage {
    width: auto;
    margin: 0;
    margin-left: 10px;
}

.previewImaage {
    height: 100px;
    width: auto;
    border-radius: 10px;
}

Dialog {
    z-index: 100 !important;
}
.makeStyles-paper-1 {
    display: flex;
    flex-direction: column;
    background-color: #242526;
    border: 2px solid #2A2B2C;
    z-index: 100 !important;
    overflow-x: hidden;
}

.left > h1 {
    cursor: pointer;
}

progress {
    width: 90%;
    margin-left: 13px;
    margin-top: 10px;
}

.hidden {
    display: none;
}