.register {
  background-color: #E9EBEE;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__logo {
  margin-top: 10px;
  height: 100px;
  margin-bottom: 5px;
}

.register__container {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  height: fit-content;
  width: 436px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.register__container > h3 {
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 100px;
  font-family: Helvectica, Arial, sans-serif;
}

.hr3 {
  margin-top: 0 !important;
    border-bottom: 1px solid #DADDE1 !important;
    margin-bottom: 20px;
}

.register__container > h1 {
  margin-top: 15px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.row input {
  height: 35px;
  margin-bottom: 10px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 5px;
  outline: none;
  padding-left: 20px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  line-height: 16px;
  font-size:17px;
  vertical-align: middle;
  margin-right: 10px;
  width: 180px;
}

.register__container > p {
  font-size: 15px;
  color: #606770;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 20px;
}

.register__container > form > center > input {
  height: 35px;
  margin-bottom: 10px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 5px;
  outline: none;
  padding-left: 20px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  line-height: 16px;
  font-size:17px;
  vertical-align: middle;
  margin-right: 10px;
  width: 90%;
  margin-left: 10px;
}

.register__container > form > center > input::-webkit-input-placeholder {
  font-size: 17px;
  color: rgba(128,128,128,0.8);
  padding-left: 0px;
}

.register__register {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  background-color: #00A400;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 55%;
  height: 45px;
  margin-bottom: 20px;
  color: #fff;
}

.register__date2 {
  margin-left: -70px;
  margin-right: 10px !important;
  height: 40px;
  width: 130px;
  outline: #CCD0D5;
  border-radius: 5px;
  margin-top: 20px;
  float: left;
}

.register__date3 {
  margin-left: 10px !important;
  margin-right: 10px !important;
  height: 40px;
  width: 130px;
  outline: #CCD0D5;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
}

.register__date, .register__gender {
  font-size: 12px;
  color: #606770;
  font-weight: 400;
  float: left;
  margin-left: 10px;
}

.register__radiocontainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.wrapper {
  padding:10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.493);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.wrapper label {
  margin-right: 55px;
}

.wrapper input {
  margin-top: 5px;
}

.register__policy {
  font-size: 12px;
  color: #1c1e21;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
  margin-bottom: 20px;
}

.register__policy span {
  color: #385898;
}

.register__login {
  color: #1877f2;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 20px;
}

a {
  text-decoration: none;
}